$baseColor1: #005da0;//背景色
$baseColor2: #4f5254;
$baseColor3: #33a0d7;//青色
$baseColor4:#393939;
$baseColor-cyan:#63c4cd;

//墨绿#009f95
$fontColor1:#2b3643;//浅色背景下的字体颜色
$fontColor2:rgb(198, 207, 218);//深色背景下的字体颜色


::selection {
  background:$baseColor3;
  color:white;
}
::-moz-selection {
  background:$baseColor3;
  color:white;
}

