@import "reset";
//清除默认样式
@import "base"; //引入基础样式配置

@import "changeUI";//引入对ui 框架的 改变

//需要写全局样式的话 就写在这里

.bg-white {
  background-color: white;
}
.bg-red{
  background-color: #fef0f0;
}
.bg-green{
  background-color: #f0f9eb;
}

.bg-gray {
  background-color: #f8f8f8;
}

.font-color-red{
  color: #f56c6c;
}
.font-color-yellow{
  color: #e6a23c;
}

.font-color-green{
  color: #67c23a;
}
.font-color-blue{
  color: #409eff;
}
.text-line{
  text-decoration:line-through
}


input::-webkit-input-placeholder {
  /* placeholder颜色  */
  color: #cdcdcd;
  /* placeholder字体大小  */
  //font-size: 12px;
  /* placeholder位置  */
  text-align: left;
}

.c-main {

  //通用的面板区域 间距
  .panelArea {
    margin: 15px 0;
  }

  .mainBody {
    h5{
      margin: 20px auto;
    }
    background-color: white;
    padding: 0 10px;
    padding-bottom: 20px;
    box-sizing: border-box;
    box-shadow: 0 0 15px 0 #e9e9e9;

    .headArea {
      margin-bottom: 30px;
      padding-bottom: 15px;
      border-bottom: 1px #f1f1f1 solid;
      padding-top: 15px;
      .title {
        font-size: 28px;
        color: $baseColor3;
      }
      .description {
        font-size: 14px;
        color: gray;
        padding-left: 5px;
      }

    }
  }

  .topArea {

  }

  //
  //.headArea {
  //  padding-top: 15px;
  //  .title {
  //    font-size: 28px;
  //    color: $baseColor3;
  //  }
  //  .description {
  //    font-size: 14px;
  //    color: gray;
  //    padding-left: 5px;
  //  }
  //
  //}
}

